{% extends 'base_gestion.html' %}

{% block title %}Eliminar profesor | Malvinas GYM{% endblock %}
{% block breadcrumb %}Profesores{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card border-danger col-md-6 offset-md-3">
        <div class="card-header bg-danger text-white">
            <h4>Confirmar Eliminación</h4>
        </div>
        <div class="card-body text-center">
            <p>¿Estás seguro de que querés eliminar al profesor <strong>{{ object.nombre }} {{ object.apellido }}</strong>?</p>
            <form method="post">
                {% csrf_token %}
                <a href="{% url 'actividades:profesor_list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-danger">Sí, eliminar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}